.btn-lg{
    padding: 20px 32px;
}

.board-cell{
    margin-bottom: 30px;
}

.user-circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #666;
    color: white;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.red {
    background-color: #d9534f;
    color: white;
}

.blue {
    background-color: #337ab7;
}

.user-circle .pulse {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
}



.info-row{
    margin-top: 30px;
}

.score-row{
    text-align: center;
}

.winning-body{
    background-image: url('../assets/cup.png');
    background-size: 100% auto;
    height: 600px;
}

.users-info-modal .user-circle{
    margin-top: 30px;
}


