
<div class="modal-header">
    <h3 class="modal-title"> Tournament Complete </h3>
</div>
<div ng-class="{ 'winning-body' : endTournamentModalCtrl.gameSetting.users['X'].wins !== endTournamentModalCtrl.gameSetting.users['O'].wins ,
                 'draw-body' : endTournamentModalCtrl.gameSetting.users['X'].wins === endTournamentModalCtrl.gameSetting.users['O'].wins}" class="modal-body">

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="endTournamentModalCtrl.cancel()">Exit</button>
    <button class="btn btn-primary" type="button" ng-click="endTournamentModalCtrl.ok()">Start new Tournament</button>
</div>